<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../static/img/alpha/cup-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block title %}
    <!-- El nombre en la pestaña -->
    {% endblock %}

    {% block script %}
    <!-- Scripts -->
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <!-- Titulos de la pagina -->
        {% endblock %}
    </header>
    <nav>
        {% block nav %}
        <!-- Barra de navegación -->
        {% endblock %}
    </nav>
    <section>
        <!-- Mensajes de error -->
        {% for message in get_flashed_messages() %}
        <div>
            {{ message }}
        </div>
        {% endfor %}
    </section>

    <main>
        {% block content %}
        <!-- Contenido principal del bloque -->
        {% endblock %}
    </main>
    <footer>
        <!-- Pie de página -->
         <div class="clearfix"></div>
         &lAarr; &copy; Todos los derechos reservados &rAarr;
         <br>
         <small>cafeteria.alina@hotmail.com</small>
    </footer>
</body>
</html>