{% extends 'base.html' %}

{% block header %}
    <h2>{% block title%}Iniciar sesion{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="correo">Correo</label>
        <input type="text" name="correo" id="correo" required>
        <br>
        <label for="contraseña">contraseña</label>
        <input type="password" name="contraseña" id="contraseña" required>
        <br>
        
        <input type="submit" value="iniciar">

    </form>
{% endblock %}