{% extends 'base.html' %}

{% block header %}
    <h2>{% block title%}Registrar Usuario{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="correo">Correo</label>
        <input type="text" name="correo" id="correo" required>
        <br>
        <label for="contraseña">contraseña</label>
        <input type="password" name="contraseña" id="contraseña" required>
        <br>
        <label for="nombre">nombre</label>
        <input type="text" name="nombre" id="nombre" required>
        <br>
        <label for="apellido_paterno">apellido_paterno</label>
        <input type="text" name="apellido_paterno" id="apellido_paterno" required>
        <br>
        <label for="apellido_materno">apellido_materno</label>
        <input type="text" name="apellido_materno" id="apellido_materno" required>
        <br>
        <label for="fecha_nacimiento">fecha_nacimiento</label>
        <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" required>
        <br>
        <input type="submit" value="Registrar">

    </form>
{% endblock %}