{% extends 'base.html' %}

{% block header %}
    <h2>{% block title%}Agrega un tipo de gasto ya sea general, fijo o variable{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST" autocomplete="off">
        <label for="nombre">Tipo de gasto </label>
        <input type="text" name="nombre" id="nombre" required> 
        <br>

        <label for="descripcion">Descripcion del gasto</label>
        <textarea name="descripcion" id="descripcion"></textarea> 
        <br>
        <input type="submit" value="Agregar">

    </form>
    <br>
    <b>Tipos de gasto</b>
    {% for tipo_gasto in tipo_gastos %}
        <div>
            {{ tipo_gasto.nombre }}
            <a href="{{ url_for('tipo-gastos.update_tipo_gasto', id_tipo_gasto = tipo_gasto.id )}}">Editar</a>
            <a href="{{ url_for('tipo-gastos.delete_tipo_gasto', id_tipo_gasto = tipo_gasto.id )}}">Eliminar</a>
        </div>
    {% endfor %}
    
{% endblock %}