{% extends 'base.html' %}

{% block header %}
    <h2>{% block title%}Actualizar información del tipo de gasto{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST" autocomplete="off">
        <label for="nombre">Nuevo nombre</label>
        <input type="text" name="nombre" id="nombre" value="{{ gasto.nombre }}" required> 
        <br>

        <label for="descripcion">Nueva descripcion</label>
        <textarea name="descripcion" id="descripcion">{{ gasto.descripcion }}</textarea> 
        <br>
        <input type="submit" value="Agregar">

    </form>    
{% endblock %}