{% extends 'base.html' %}

{% block header %}
    {% block title%}
        <h2>Editar producto </h2> 
        <p>{{ precio }}</p>
    {% endblock %}
{% endblock %}

{% block content %}
    <form method="POST">
        Nuevo Tamaño
        <select name="tipo" id="tipo">
            {% for tipo in tipos %}
            <option value="{{ tipo.id }}">{{ tipo.tipo }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="precio">Nuevo precio</label>
        <input type="text" name="precio" id="precio" required>
            
        <br>
    
        <input type="submit" value="Actualizar">

    </form>
{% endblock %}