{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %} Bienvenido usuario{% endblock %}</h2>
{% endblock %}

{% block content %}
    <div>
        Acciones:
    </div>
    <a href="{{ url_for('perfil.main' ) }}">Perfil</a>
    <a href="{{ url_for('auth.cerrar_sesion') }}">Cerrar sesion</a>
    <a href="{{ url_for('ventas.main' ) }}">Ventas</a>
    <a href="{{ url_for('productos.main' ) }}">Productos</a>
    <a href="{{ url_for('estadisticas.main') }}">Estadísticas</a>
    <a href="{{ url_for('inventario.main') }}">Inventario</a>
    <a href="{{ url_for('ayuda.main') }}">Ayuda</a>
    
{% endblock %}