{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}{{ usuario.nombre }} {{ usuario.apellido_paterno}} {{usuario.apellido_materno}}{% endblock %}</h2>
{% endblock %}

{% block content %}
    <h3>Informacion</h3>
    
    <a href="{{ url_for('perfil.update_usuario')}}">Actualizar información</a>

    <div>
        <label for="nombre"><b>Correo</b></label>
        <input type="text" value="{{ usuario.correo }}" disabled>
    </div>

    <div>
        <b>Nacimiento</b> {{ usuario.fecha_nacimiento }}
    </div>

    {% if 'ADMIN' in usuario.tipo.tipo.upper() %}
    <div>
        <b>Tipo usuario</b> {{usuario.tipo.tipo}}
    </div>
    <div>
        <b>Sucursal</b> {{ usuario.sucursal.nombre }}
    </div>
    {% endif %}
    
{% endblock %}