{% extends 'base.html' %}

{% block header %}
    <h2>{% block title%}Lista de Precios del {{ producto.nombre }} {% endblock %}</h2>
{% endblock %}

{% block content %}
    <h1>Lista</h1>
    <div>
        <a href={{ url_for('precio.create_precio', id_prod = producto.id_producto) }}>Agregar un nuevo precio</a>
    </div>

    {% if precios == [] %}
        <div>
            Aún no se han agregado precios a este producto. Click en agregar nuevo precio.
        </div>
    {% else %}
        <h3>Productos disponibles:</h3>
        {% for precio in precios %}
            <div>
                {{ precio.id_producto }} 
                {% if precio.tamaño == 'sin-tamaño' %}

                {% else %}
                    {{ precio.tamaño }}
                {% endif %}
                ${{ precio.precio }}
                <a href="{{ url_for('precio.update_precio', id_prod = precio.id_producto, tam = precio.tamaño) }}">Modificar precio</a>
                <a href="{{ url_for('precio.delete_precio', id_prod = precio.id_producto, tam = precio.tamaño) }}">Eliminar precio</a>
            </div>

        {% endfor %}
    {% endif %}
{% endblock %}

