{% extends 'base.html' %}

{% block header %}

    <script>
        function changeID() {
            var producto = document.getElementById('producto') 
            var url = document.getElementById('url')

            // Cómo demonios iba a saber q '' es un placeholder y el arg es ${}
            let a = `{{ url_for('precios.create_precio', id = '') }}${producto.value}`
            url.setAttribute("href", a)
            console.log(":=")
        }

        document.addEventListener('DOMContentLoaded', function() {
            // Puros trucos
            changeID();
        });
    </script>
    <h2>{% block title%}Lista de Todos los precios {% endblock %}</h2>
{% endblock %}

{% block content %}

    <a id ="url" href="{{ url_for('productos.main') }}" onload="changeID();">Agregar un nuevo precio para</a>
    <select name="producto" id="producto" onchange="changeID()">
        {% for producto in productos %}
        <option value="{{ producto.id }}">{{ producto.nombre }}</option>
        {% endfor %}
    </select>
    {% for precio in precios %}
    <div>
        {{ precio }} 
        <a href="{{ url_for('precios.update_precio', id = precio.id_producto, tipo = precio.tipo.id) }}">Modificar precio</a>
        <a href="{{ url_for('precios.delete_precio', id = precio.id_producto, tipo = precio.tipo.id) }}">Eliminar precio</a>
    </div>
    {% endfor %}
{% endblock %}

