{% extends 'base.html' %}

{% block header %}
    <h2>{% block title%}Lista de productos{% endblock %}</h2>
{% endblock %}

{% block content %}
    <div>
        <a href={{ url_for('productos.create_producto') }}>Agregar un nuevo producto</a>
    </div>

    <h3>Productos disponibles:</h3>
    {% for producto in productos %}
        <div class="producto" >
            <b>{{ producto.nombre }}: {{ producto.descripcion }}</b>
            <a href="{{ url_for('productos.update_producto', id = producto.id) }}">Modificar producto</a>
            <a href="{{ url_for('productos.delete_producto', id = producto.id) }}">Eliminar producto</a>
            <div class="precio">
                {% for precio in producto.precios %}
                {% if precio.status == 1 %}
                <div>
                    <!-- precio.tipo = {Precio} -> {TipoProducto} -->
                    {{ precio.tipo.tipo }} - ${{ precio.precio }}
                    <a href="{{ url_for('precios.update_precio', id = precio.id_producto, tipo = precio.tipo.id) }}">Modificar</a>
                    <a href="{{ url_for('precios.delete_precio', id = precio.id_producto, tipo = precio.tipo.id) }}">Eliminar</a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <a href="{{ url_for('precios.create_precio', id = producto.id) }}">Agregar variacion</a>
        </div>

    {% endfor %}
{% endblock %}

        