{% extends 'base.html' %}

{% block header %}
    <h2>{% block title%}Sucursales{% endblock %}</h2>
{% endblock %}

{% block content %}
    <div>
        <a href={{ url_for('sucursales.create_sucursal') }}>Agregar una nueva sucursal</a>
    </div>

    <h3>Todas las sucursales</h3>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Inaguracion</th>
            <th>Opciones</th>
        </tr>
        {% for sucursal in sucursales %}
        <tr class="available">
            <td>{{ sucursal.nombre }}</td>
            <td>{{ sucursal.direccion() }}</td>
            <td>{{ sucursal.fecha_inaguracion }}</td>
            <td>
                <a href="{{ url_for('sucursales.update_sucursal', id = sucursal.id )}}">Modificar</a>
                <a href="{{ url_for('sucursales.delete_sucursal', id = sucursal.id )}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

        