{% extends 'base.html' %}

{% block header %}
    <h2>{% block title%}Todos los tipos de producto{% endblock %}</h2>
{% endblock %}

{% block content %}
    <p>Lista de todos los tipos de producto. Si el status es 0 solo hay q activarlo</p>
    {% for tipo in tipo_productos %}
        <div>
            <p> {{ tipo.tipo }}: status={{ tipo.status }}</p>
            
            <a href="{{ url_for('tipo-productos.update_tipo', id = tipo.id) }}">Modificar</a>
            <a href="{{ url_for('tipo-productos.delete_tipo', id = tipo.id) }}">Eliminar</a>
        </div>

    {% endfor %}
{% endblock %}

