/* Main style */
body {
    background-color: linen;
}

/* Productos carro */
.item {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}