{% extends 'cafeteria/dashboard.html' %}

{% block title%}
<title>
    ALINA - Agregar categoria
</title>
{% endblock %}

{% block content %}
<div class="container">

    <h3>Crea una nueva categoria</h3>
    <form method="POST" autocomplete="off">
        <div class="campo">
            <label for="categoria">Categoría:</label>
            <input type="text" name="categoria" id="tipo" required> 
        </div>
        <div class="campo">
            <label for="descripcion">Descripción:</label>
            <textarea type="text" name="descripcion" id="descripcion" required></textarea>
        </div>
        <input type="submit" value="Agregar">
    
    </form>
    <h3>Categorias existentes</h3>
    <ul class="lista">
        {% for categoria in categorias %}
        <li>
            <div>
                {{ categoria.nombre }} 
            </div>
            <div class="option">
                <a  href="{{ url_for('categorias.update_categoria', id_categoria = categoria.id )}}">
                    <img src="../../static/img/icons/edit.svg" alt="Modificar categoria">
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}