{% extends 'base.html' %}

{% block header %}
    <h2>{% block title%}Agregar sucursal{% endblock %}</h2>
{% endblock %}


{% block content %}
    <b>Nueva sucursal</b>
    <form method="POST" autocomplete="off">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" required> 
        <br>

        <label for="calle">Calle</label>
        <input type="text" name="calle" required> 
    
        <label for="numero">Número exterior</label>
        <input type="text" name="numero" required> 
        <br>

        <label for="colonia">Colonia</label>
        <input type="text" name="colonia" required> 
        <br>

        <label for="municipio">Municipio</label>
        <input type="text" name="municipio" required> 
        <br>

        <label for="ciudad">Ciudad</label>
        <input type="text" name="ciudad" required> 
        <br>

        <label for="pais">País</label>
        <input type="text" name="pais" required> 
        <br>

        <label for="fecha">Fecha de inaguración</label>
        <input type="date" name="fecha" required> 
        <br>

        <input type="submit" value="Agregar">

    </form>
{% endblock %}