{% extends 'cafeteria/dashboard.html' %}

{% block title%}
<title>
    ALINA - Agregar producto
</title>
{% endblock %}

{% block content %}
    <form method="POST" autocomplete="off">
        <div class="campo">
            <label for="nombre">Nombre producto: </label>
            <input type="text" name="nombre" id="nombre" required>
        </div>
        <br>
        <div class="campo">
            <label for="descripcion">Descripción: </label>
            <textarea type="text" name="descripcion" id="descripcion" ></textarea>
        </div>
        <div class="campo">
            <label for="categoria">Categoria</label>
            <select name="categoria" id="categoria">
                {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
            <div class="option">
                <a  href="{{ url_for('categorias.create_categoria')}}">
                    <img src="../../static/img/icons/add.svg" alt="Nueva categoria">
                </a>
            </div>
        </div>
        <input type="submit" value="Agregar">

        <br>
    </form>
    <b>Productos disponibles</b>
    <ul>
        {% for p in productos %}
        <li> {{ p.nombre }} - {{ p.categoria.nombre }}</li>
        {% endfor %}
    </ul>
{% endblock %}