{% extends 'cafeteria/dashboard.html' %}

{% block title%}
<title>
    ALINA - Agregar producto
</title>
{% endblock %}

{% block content %}
<div class="container">

    <h3>Crea un nuevo producto</h3>
    <form method="POST" autocomplete="off">
        <div class="campo">
            <div>
                <label for="nombre">Nombre </label>
                <input type="text" name="nombre" id="nombre" required>
            </div>
        </div>
        <div class="campo">
            <label for="descripcion">Descripción: </label>
            <textarea type="text" name="descripcion" id="descripcion" ></textarea>
        </div>
        <div class="campo">
            <div>
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria">
                    {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" value="Agregar">
    </form>
    <h3>Productos disponibles</h3>
    <ul>
        {% for p in productos %}
        <li> {{ p.nombre }} - {{ p.categoria.nombre }}</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}