{% extends 'base.html' %}

{% block header %}
    <h2>{% block title%}Modificar {{ gasto }}{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST" autocomplete="off">

        <label for="sucursal">Sucursal</label>
        <select name="sucursal" id="sucursal">
            {% for sucursal in sucursales %}
            <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
            {% endfor %}
        </select>
        <a href="{{ url_for('sucursales.main')}}">Ver sucursales</a>
        <br>


        <label for="nombre">Nombre del pago </label>
        <input type="text" name="nombre" id="nombre" value="{{ gasto.nombre }}" required> 
        <br>

        <label for="tipo_gasto">Tipo</label>
        <select name="tipo_gasto" id="tipo_gasto">
            {% for tipo_gasto in tipo_gastos %}
            <option value="{{ tipo_gasto.id }}">{{ tipo_gasto.nombre }}</option>
            {% endfor %}
        </select>
        <a href="{{ url_for('tipo-gastos.create_tipo')}}">Crear nuevo tipo</a>
        <br>

        <label for="cantidad">Monto $</label>
        <input type="text" name="cantidad" id="cantidad" value="{{ gasto.cantidad }}" required >
        <br>
        <input type="submit" value="Actualizar">

    </form>
    
{% endblock %}