{% extends 'cafeteria/dashboard.html' %}

{% block title %}
<title>
    ALINA - Editar Perfil
</title>
{% endblock %}


{% block content %}
    <h2>{{ usuario.nombre }} {{ usuario.apellido_paterno}} {{usuario.apellido_materno}}</h2>
    <!-- enctype="multipart/form-data for large images" -->
    <form method="POST" autocomplete="off">
        <!-- type="file" accept="image/jpg, image/png" -->

        {% if g.user == usuario %}
        <div class="campo">
            <div>
                <label for="nombre">Nuevo nombre</label>
                <input type="text" name="nombre" id="nombre" value="{{ usuario.nombre }}" required>
            </div>
        </div>

        <div class="campo">
            <div>
                <label for="apellido_paterno">Apellido Paterno</label>
                <input type="text" name="apellido_paterno" value="{{ usuario.apellido_paterno }}" required>
            </div>
        </div>

        <div class="campo">
            <div>
                <label for="apellido_materno">Apellido Materno</label>
                <input type="text" name="apellido_materno" value="{{ usuario.apellido_materno}}" required>
            </div>
        </div>

        <div class="campo">
            <div>
                <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                <input type="date" name="fecha_nacimiento" value="{{ usuario.fecha_nacimiento }}" required>
            </div>
        </div>
        {% else %}
        <div class="campo">
            <div>
                <label for="nombre">Nuevo nombre</label>
                <input type="text" name="nombre" id="nombre" value="{{ usuario.nombre }}" disabled>
            </div>
        </div>

        <div class="campo">
            <div>
                <label for="apellido_paterno">Apellido Paterno</label>
                <input type="text" name="apellido_paterno" value="{{ usuario.apellido_paterno }}" disabled>
            </div>
        </div>

        <div class="campo">
            <div>
                <label for="apellido_materno">Apellido Materno</label>
                <input type="text" name="apellido_materno" value="{{ usuario.apellido_materno}}" disabled>
            </div>
        </div>

        <div class="campo">
            <div>
                <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                <input type="date" name="fecha_nacimiento" value="{{ usuario.fecha_nacimiento }}" disabled>
            </div>
        </div>
        {% endif %}

        {% if 'ADMIN' in g.user.tipo_usuario.nombre.upper() %}
        <div class="campo">
            <div>

                <label for="tipo_usuario">Tipo de usuario</label>
                <select name="tipo_usuario" id="tipo_usuario">
                    {% for tipo_usuario in tipo_usuarios %}
                    {% if usuario.tipo_usuario.nombre == tipo_usuario.nombre %}
                    <option value="{{ tipo_usuario.id }}" selected>{{ tipo_usuario.nombre }}</option>
                    {% else %}
                    <option value="{{ tipo_usuario.id }}">{{ tipo_usuario.nombre }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="campo">
            <div>

                <label for="sucursal">Sucursal asociada</label>
                <select name="sucursal" id="sucursal">
                    {% for sucursal in sucursales %}
                    <!-- # AAA seleccionar ID por default -->
                    <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}

        {% if g.user == usuario %}
        <div class="campo">
            <div>
                <label for="old-password">Contraseña actual</label>
                <input type="password" name="old-password">
            </div>
        </div>
        <div class="campo">
            <div>
                <label for="contraseña">Nueva contraseña</label>
                <input type="password" name="contraseña">
            </div>
        </div>
        {% endif %}

        {% if session.get('tipo_usuario') == 'Administrador' %}
        <a href="{{ url_for('perfil.delete_usuario', correo = usuario.correo)}}">Eliminar definitivamente</a>
        {% endif %}
    
        <input type="submit" value="Actualizar">

    </form>
{% endblock %}