{% extends 'cafeteria/dashboard.html' %}

{% block title%}
<title>
    ALINA - Editar producto
</title>
{% endblock %}

{% block content %}
    <form method="POST" autocomplete="off">
        <b>Editar información del producto</b>
        <div class="campo">
            <div>
                <label for="nombre">Nombre </label>
                <input type="text" name="nombre" id="nombre" value="{{ producto.nombre }}" required>
            </div>
        </div>
        <div class="campo">
                <label for="descripcion">Descripcion</label>
                <textarea type="text" name="descripcion" id="descripcion" >{{ producto.descripcion }}</textarea>
        </div>
        <b>Cuidado con modificar la categoria, ni yo sé qué es lo que puede pasar! Puede reemplazar otros productos</b>
        <div class="campo">
            <div>
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria">
                    {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" value="Actualizar">
    </form>
{% endblock %}