{% extends 'cafeteria/dashboard.html' %}

{% block title %}
<title>
    ALINA - Editar Perfil
</title>
{% endblock %}


{% block content %}
    <h2>{{ usuario.nombre }} {{ usuario.apellido_paterno}} {{usuario.apellido_materno}}</h2>
    <!-- enctype="multipart/form-data for large images" -->
    <form method="POST" autocomplete="off">
        <!-- type="file" accept="image/jpg, image/png" -->

        <div class="campo">
            <label for="nombre">Nuevo nombre</label>
            <input type="text" name="nombre" id="nombre" value="{{ usuario.nombre }}" required>
        </div>

        <div class="campo">
            <label for="apellido_paterno">Apellido Paterno</label>
            <input type="text" name="apellido_paterno" value="{{ usuario.apellido_paterno }}" required>
        </div>

        <div class="campo">
            <label for="apellido_materno">Apellido Materno</label>
            <input type="text" name="apellido_materno" value="{{ usuario.apellido_materno}}" required>
        </div>

        <div class="campo">
            <label for="fecha_nacimiento">Fecha de Nacimiento</label>
            <input type="date" name="fecha_nacimiento" value="{{ usuario.fecha_nacimiento }}" required>
        </div>
        {% if 'ADMIN' in usuario.tipo_usuario.nombre.upper() %}
        <div class="campo">
            <!-- AAAA admin solamente pueden crear otros usuarios -->
            <label for="tipo_usuario">Tipo de usuario</label>
            <select name="tipo_usuario" id="tipo_usuario">
                {% for tipo_usuario in tipo_usuarios %}
                <option value="{{ tipo_usuario.id }}">{{ tipo_usuario.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="campo">
            <label for="sucursal">Sucursal asociada</label>
            <select name="sucursal" id="sucursal">
                {% for sucursal in sucursales %}
                <!-- AAA id -->
                <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div class="campo">
            <label for="old-password">Contraseña actual</label>
            <input type="password" name="old-password">
        </div>
        <div class="campo">
            <label for="contraseña">Nueva contraseña</label>
            <input type="password" name="contraseña">
        </div>
            
        <br>
    
        <input type="submit" value="Actualizar">

    </form>
{% endblock %}