{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Gastos{% endblock %}</h2>
{% endblock %}

{% block content %}
    <h3>Todos los gastos</h3>
    <div>
        <a href="{{ url_for('gastos.create_gasto')}}">Crear nuevo gasto</a>
    </div>
    <div>
        <a href="{{ url_for('tipo-gastos.create_tipo')}}">Crear nuevo tipo de gasto</a>
    </div>

    <h4>Gastos de la semana</h4>
    {% if total %}
    <p>Total: ${{ total }}</p>
    {% else %}
    <p>Sin gastos todavía</p>
    {% endif %}
    <table>
        <tr>
            <th>Gasto</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Fecha</th>
            <th>Sucursal</th>
            <th>Opciones</th>
        </tr>
        {% for gasto in gastos %} 
        <tr>
            <td>{{ gasto.nombre }}</td>
            <td>{{ gasto.tipo_gasto.nombre }}</td>
            <td>${{ gasto.cantidad }}</td>
            <td>{{ gasto.fecha.strftime('%a %d, %B %Y - %H:%M:%S %p') }}</td>
            <td>{{ gasto.sucursal.nombre }}</td>
            <td>
                <a href="{{ url_for('gastos.update_gasto', id_gasto = gasto.id) }}">Modificar</a>
                <a href="{{ url_for('gastos.delete_gasto', id_gasto = gasto.id) }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}