{% extends 'cafeteria/dashboard.html' %}

{% block title%}
<title>
    ALINA - Precios
</title>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/precios.js') }}"></script>
{% endblock %}


{% block content %}

    <a id ="url" href="{{ url_for('productos.main') }}" data-url-base="{{ url_for('precios.create_precio', id_producto='') }}">Agregar un nuevo precio para</a>
    <select name="producto" id="producto">
        {% for producto in productos %}
        <option value="{{ producto.id }}">{{ producto.nombre }} - {{producto.categoria.nombre}}</option>
        {% endfor %}
    </select>
    <h4>Todos los precios</h4>
    <hr>
    <table>
        <tr>
            <th>Categoria</th>
            <th>Producto</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Opciones</th>
            <th>Status</th>
        </tr>
        {% for precio in precios %}
        <tr>
            <td>{{ precio.producto.categoria.nombre }}</td>
            <td>{{ precio.producto.nombre }}</td>
            <td>{{ precio.tipo_producto.nombre }}</td>
            <td>${{ precio.precio }}</td>
            <td>
                <a href="{{ url_for('precios.update_precio', id_producto = precio.id_producto, id_tipo_producto = precio.tipo_producto.id) }}">Modificar</a>
                <!-- # AAA Debemos de poder eliminar permanentemente. Hay que renombrar endpoints a algo de status_active y delete que sea hard -->
                <a href="{{ url_for('precios.delete_precio', id_producto = precio.id_producto, id_tipo_producto = precio.tipo_producto.id) }}">Eliminar</a>
            </td>
            <td>
                {% if precio.status %}
                <input type="checkbox" name="status" id="status-{{precio.id_producto}}-{{precio.tipo_producto.id}}" checked autocomplete="off">
                {% else %}
                <input type="checkbox" name="status" id="status-{{precio.id_producto}}-{{precio.tipo_producto.id}}" autocomplete="off">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

