{% extends 'cafeteria/dashboard.html' %}

{% block title %}
<title>
    ALINA - Productos
</title>
{% endblock %}

{% block content %}

    <h3>Productos disponibles:</h3>
    <ul class="productos" >
        {% for producto in productos %}
        <li class="producto">
            <div class="producto nombre">
                <p>{{ producto.nombre }}</p>
                <i>{{ producto.categoria.nombre }}</i>
                <ul class="precios-producto">
                    {% for precio in producto.precios %}
                    {% if precio.status == 1 %}
                    <li class="precio">
                        <!-- precio.tipo = {Precio} -> {TipoProducto} -->
                        <p>
                           {{ precio.tipo_producto.nombre }} - ${{ precio.precio }}
                        </p>
                        {% if 'ADMIN' in g.user.tipo_usuario.nombre.upper() %}
                        <div class="option">
                            <a href="{{ url_for('precios.update_precio', id_producto = precio.id_producto, id_tipo_producto= precio.tipo_producto.id) }}">
                                <img src="../../static/img/icons/edit.svg" alt="Modificar">
                            </a>
                        </div>
                        <div class="option">
                            <a href="{{ url_for('precios.delete_precio', id_producto = precio.id_producto, id_tipo_producto= precio.tipo_producto.id) }}">
                                <img src="../../static/img/icons/delete.svg" alt="Eliminar">
                            </a>
                        </div>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% if 'ADMIN' in g.user.tipo_usuario.nombre.upper() %}
            <div class="option">
                <a href="{{ url_for('productos.update_producto', id_producto = producto.id) }}">
                    <img src="../../static/img/icons/edit.svg" alt="Modificar">
                </a>
            </div>
            <div class="option">
                <a href="{{ url_for('productos.delete_producto', id_producto = producto.id) }}">
                    <img src="../../static/img/icons/delete.svg" alt="Eliminar">
                </a>
            </div>
            <div class="option">
                <a href="{{ url_for('precios.create_precio', id_producto = producto.id) }}">
                    <img src="../../static/img/icons/add.svg" alt="Agregar">
                </a>
            </div>
            {% endif %}
            
        </li>
        

        {% endfor %} 
    </ul>

{% endblock %}

        